extends ../layout

block content
	div(class='row')
		div(class='col-md-12') 
			h2(class='h3') #{member.name}

	div(class='row')
		div(class='col-md-12')
			ul
				li #{member.position_id}			
				li Reports to #{member.reportsTo}
				
block footer
	div(class='row')
		div(class='col-md-12')
			ul(class='list-unstyled list-inline')
				li
					a(href='/members') Member List