extends ../layout

block content
	div(class='row')
		div(class='col-md-12') 
			h2(class='h3') #{member.name}

	div(class='row')
		div(class='col-md-12')
			ul
				if position != null
					li #{position.name}
				
				if reportsTo != null
					li Reports to #{reportsTo.name}
				
block footer
	div(class='row')
		div(class='col-md-12')
			ul(class='list-unstyled list-inline')
				li
					a(href='/members') Member List