doctype html
html
	head
		title= title
		script(type='text/javascript', src='/vendor/jquery-1.10.2.min.js')
		script(type='text/javascript', src='/vendor/bootstrap/js/bootstrap.min.js')
		script(type='text/javascript', src='/vendor/f2.min.js')

		link(rel='stylesheet', href="/vendor/bootstrap/css/bootstrap.min.css")
		link(rel='stylesheet', href="/vendor/bootstrap/css/bootstrap-theme.min.css")

	body
		div(class='container-fluid')
			div(class='row')
				div(class='col-md-12')
					h1(class='h2') Project Team Dashboard
					nav(id='nav' role='navigation')
						ul(class='nav nav-pills')
							li
								a(href='./index', role='tab', data-toggle='tab') Home

							li(role='presentation', class='dropdown')
								a(class='dropdown-toggle', data-toggle='dropdown', href='#', role='button' aria-expanded='false') Our Team
									span(class='caret')

								ul(class='dropdown-menu', role='menu')
									li(class='active')
										a Team Members
									li
										a Project Calendar Dates
									li
										a Clients
									li
										a Projects
									li
										a Code Review Rooms
							li
								a Raw
							li
								a Upcoming

		main(class='container-fluid')
			block content
