.icon-rotate-90 {
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}


nav {
	margin-top: 15px;
}

main {
	min-height: 350px;
}

.footer-menu {
	border-top: 1px solid #ccc;
	padding-top: 15px;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.presenter { color: #d9534f; }
.backup-presenter { color: #46b8da; }

.schedule { overflow-x: scroll;}
.schedule td,
.schedule th { text-align: center;}

.schedule .member-name { min-width: 200px; text-align: left;}

/* by default, hidden */
.schedule table .utilization-field,
.schedule table .done-button,
.schedule table tr.duplicate-column-tool {display: none;}


/* during editing, hide these */
.schedule .editing .data-value { display: none;}

/* during editing, show these */
.schedule .editing .utilization-field { display: block;}
.schedule .editing tr.duplicate-column-tool { display: table-row; }

.schedule td div.data-value { width: 100%; height: 100%;}
.success { background-color: #5cb85c;}
.warning { background-color: #f0ad4e;}
.danger { background-color: #d9534f;}



.utilization-field { width: 30px;}
