nav {
	margin-top: 15px;
}

main {
	min-height: 350px;
}

.footer-menu {
	border-top: 1px solid #ccc;
	padding-top: 15px;
}

.presenter { color: #d9534f; }
.backup-presenter { color: #46b8da; }

#schedule { overflow-x: scroll;}
#schedule .member-name { min-width: 200px;}